@*
    / (Ana Sayfa)
*@
<h2>Key Share Generator Sharing</h2>

<p>
    <b>Key Share Generator Sharing</b> platformu, kriptolojik algoritmaların Türkçe kaynak eksikliğini gidermek amacıyla geliştirilmiştir.
</p>
<p>
    Sitenin temel amacı, başta <b>Shamir'in Sır Paylaşımı (Secret Sharing)</b> olmak üzere, çeşitli anahtar bölüştürme ve kriptografi algoritmalarının Türkçe kaynaklar ve örnek uygulamalarla topluma sunulmasıdır.
    Kullanıcılar, bu algoritmaları web arayüzü üzerinden deneyimleyebilir ve kaynak kodlara şeffaf biçimde ulaşabilir.
</p>
<p>
    Platform, tamamen <b>açık kaynak</b> olup, herkesin ücretsiz kullanımına sunulmuştur. Kaynak kodlara ulaşmak ve katkı sağlamak için aşağıdaki bağlantıyı kullanabilirsiniz:
    <br />
    <a href="https://github.com/erdememinaga/Key-Share-Generator-Sharing" target="_blank">
        https://github.com/erdememinaga/Key-Share-Generator-Sharing
    </a>
</p>
<p>
    <b>Sayfa yolları:</b>
    <ul>
        <li><a href="/">Ana Sayfa</a></li>
        <li><a href="/Home/Privacy">Gizlilik ve Açık Kaynak Bildirimi</a></li>
        <li><a href="/Shamir">Shamir's Secret Sharing Uygulaması</a></li>
        <!-- Diğer sayfalar için ekleme yapabilirsin -->
    </ul>
</p>
