@*
    /Privacy
    Key-Share-Generator-Sharing platformunun gizlilik politikası ve açık kaynak bildirimi
*@
<h2>Gizlilik Politikası ve Açık Kaynak Bildirimi</h2>

<p>
    <b>Key Share Generator Sharing</b> web sitesi ve tüm kaynak kodları, tamamen açık olup ücretsiz şekilde kamuya sunulmuştur.
</p>
<p>
    Platform üzerinde yapılan hiçbir işlem, sunucu tarafında kaydedilmez ve üçüncü kişilerle paylaşılmaz. Kullanıcıların gizliliğine tam anlamıyla saygı gösterilmektedir.
</p>
<p>
    Sitenin tüm servis ve yazılımlarını, herhangi bir üyelik veya ücret gerektirmeden özgürce kullanabilirsiniz.
    Kaynak kodlara ulaşmak için:
    <br />
    <a href="https://github.com/erdememinaga/Key-Share-Generator-Sharing" target="_blank">
        https://github.com/erdememinaga/Key-Share-Generator-Sharing
    </a>
</p>
